.body-contatos {
    background-color: #ff57578e;
}
.contetainer {
    background-color: #ff5757;
    height: 100px;
    font-size: 30px;
}
a {
    color: #fff;
    margin-top: 15px;
}

#icon-contatos {
    margin-top: 300px;
    margin-left: 100px;
}
.footer {
    background-color: #ff5757;
    height: 180px;
    font-size: 20px;
    margin-top: 700px;
}
.footer-contatos {
    background-color: #ff5757;
    height: 180px;
    font-size: 20px;
    margin-top: 420px;
}
.col-sm {
    color: #fff;
    margin-top: 15px;
}














